<!DOCTYPE html>
<html>
<head>
    <title>Reservasi Badminton</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">

        <div class="card">
            <div class="card-img-wrapper">
                <img src="/images/gambar1.jfif" alt="Court A">
            </div>

            <div class="content">
                <span class="badge-type">Venue</span>
                <h3>Court A</h3>
                <p class="rating-location">⭐ 4.8</p>

                <div class="price-section">
                    <span class="price-value">Rp30.000</span>
                    <span class="price-period">/ jam</span>
                </div>

                <a href="/detail">
                    <button>Lihat Detail</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-img-wrapper">
                <img src="/images/gambar2.jfif" alt="Court B">
            </div>

            <div class="content">
                <span class="badge-type">Venue</span>
                <h3>Court B</h3>
                <p class="rating-location">⭐ 4.7</p>

                <div class="price-section">
                    <span class="price-value">Rp35.000</span>
                    <span class="price-period">/ jam</span>
                </div>

                <a href="/detail">
                    <button>Lihat Detail</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-img-wrapper">
                <img src="/images/gambar1.jfif" alt="Court C">
            </div>

            <div class="content">
                <span class="badge-type">Venue</span>
                <h3>Court C</h3>
                <p class="rating-location">⭐ 4.9</p>

                <div class="price-section">
                    <span class="price-value">Rp40.000</span>
                    <span class="price-period">/ jam</span>
                </div>

                <a href="/detail">
                    <button>Lihat Detail</button>
                </a>
            </div>
        </div>

    </div>

</body>
</html>